body {
  color: #f2f2f2;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 200;
}

button:focus, 
input:focus {
    outline: none;
}

/*Welcome and Error pages*/
.Main-page {
  height: 100vh;
  width: 100%;
  margin: 0;
  text-align: center;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.Main-page__title {
  margin: 0;
  padding-top: 12rem;
  font-size: 3em;
  font-weight: 100;
  text-align: center;
}

.Error__msg {
  margin: 0;
  padding-top: 11rem;
  font-weight: 300;
}

.Error__msg-hint {
  margin: 1rem 0;
  font-weight: 300;
}

/*Search Bar for all pages*/
.Search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Search__input {
  height: 3.5rem;
  width: 30rem;
  padding-left: .5rem;
  border: none;
  border-radius: 8px;
  opacity: .8;
  font-size: 2.5rem;
}

.Search__input::placeholder {
  color: #b5bbbf;
  font-size: 2.5rem;
}

.Search__input:focus {
  border-radius: 0;
}

/*Removes built-in arrow from input due to datalist tag*/
input::-webkit-calendar-picker-indicator {
  display: none;
}

.Search__button {
  width: 3.5rem;
  height: 3.5rem;
  margin-left: .5rem;
  background: url(./icons/search.svg) no-repeat center;
  background-size: 80%;
  border: none;
  transition: all .4s;
}

.Search__button:hover {
  cursor: pointer;
  transform: scale(1.2)
}

/*Results page*/
.Results {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem;
}

.Results__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Results__header--home-button {
  width: 7rem;
  background-color: #f2f2f2;
  -webkit-mask: url(./icons/rainbow.svg) no-repeat 50% 50%;
  mask: url(./icons/rainbow.svg) no-repeat 50% 50%;
  mask-size: 80%;
  border: none;
  transition: all .4s;
}

.Results__header--home-button:hover {
  cursor: pointer;
  transform: scale(1.2);
  animation: rainbowIcon 3s linear infinite;
  background-color: rgb(239, 120, 255);
}

@keyframes rainbowIcon {
  0% {
    filter: hue-rotate(-90deg);
  }
  50% {
    filter: hue-rotate(90deg);
  }
  100% {
    filter: hue-rotate(-90deg);
  }
}


.Results__city-name{
  align-content: center;
  margin: 3rem 0 0 0;
  font-size: 5rem;
  font-weight: 300;
}

/*Current Weather*/
.Results__current-weather {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  margin: 3rem 2rem 0 0;
  padding: 1rem;
  background-color: #1980c4;
  border-radius: 25px;
}

.Results__current-weather img {
  height: 6rem;
}

.Results__current-weather--hi-temp {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
}

.Results__current-weather--lo-temp {
  margin-left: .5rem;
  color: #98c3e0;
}

.Results__current-weather--temp {
  margin: 0;
  width: calc(100% - 6rem);
  text-align: right;
  font-family: 'Oswald', sans-serif;
  font-size: 5rem;
  font-weight: 500;
}

.Results__current-weather--temp-degree {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
}

.Results__current-weather--description {
  margin: .5rem 0;
  font-size: 1.5rem;
  font-weight: 200;
}

.Results__current-weather--today {
  margin: 0;
  width: 60%;
  font-size: 4rem;
  font-weight: 300;
}

.Results__current-weather--date {
  margin: auto 0;
  width: 40%;
  font-size: 2rem;
  font-weight: 300;
  text-align: right;
}

/*Hourly and Daily Weather cards*/
.Results__weather-card {
  display: flex;
  margin-top: 1.5rem;
  text-align: center;
  height: 9rem;
  flex-direction: column;
  align-items: center;
}

.Results__weather-card--temp {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  font-weight: 200;
}

.Results__weather-card--time {
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

.Results__weather-card--icon {
  margin: .3rem 0;
  height: 3rem;
  width: 3rem;
}

.Results__weather-card--lo-temp {
  color: #98c3e0;
}

.Results__hourly--section {
  width: 70%;
}

.Results__hourly {
  display: flex;
  justify-content: space-between;
}

.Results__daily {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1401px) {
  .Results__current-weather--temp {
    font-size: 4.5rem;
  }
}

@media only screen and (max-width: 1320px) {
  .Results__current-weather--temp {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 1375px) {
  .Results__hourly--section {
    width: 69%;
  } 
}

@media only screen and (max-width: 1163px) {
  .Results__hourly--section {
    width: 68%;
  }
}

@media only screen and (max-width: 1025px) {
  .Error__msg {
    font-size: 1.5em;
  }

  .Results__hourly--section {
    width: 100%;
  }

  .Results__city-name{
    margin: 1rem 0;
    text-align: center;
  }

  .Results__current-weather {
    width: 60%;
    margin: 2rem auto 0 auto;
  }

  .Results__current-weather--description {
    font-size: 2rem;
  }

  .Results__daily {
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-bottom: 2rem;
  }

  .Results__hourly {
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-bottom: 2rem;
  }

  .Results__weather-card{
    flex: 0 0 auto;
    min-width: 150px;
  }
}

@media only screen and (max-width: 790px) {
  .Error__msg {
    font-size: 1.2em;
  }

  .Error__msg-hint {
    font-size: 1em;
  }

  .Search__input {
    height: 2.5rem;
    width: 20rem;
    font-size: 1.5rem;
  }

  .Search__input::placeholder {
    align-content: center;
    align-self: center;
    font-size: 1.5rem;
  }

  .Results__current-weather {
    min-width: 80%;
  }
}

@media only screen and (max-width: 635px) {
  .Main-page__title {
    font-size: 2.3em;
  }

  .Results__header {
    display: block;
  }

  .Results__header--home-button {
    height: 7rem;
    width: 10rem;
    margin-left: calc(50% - 5rem);
  }

  .Results {
    margin: 0;
  }
}

@media only screen and (max-width: 545px) {
  .Main-page__title {
    font-size: 2em;
  }

  .Results__current-weather {
    min-width: 90%
  }
}

@media only screen and (max-width: 415px) {
  .Main-page__title {
    font-size: 1.6em;
  }

  .Search {
    margin: 0 .5rem;
  }

  .Search__input::placeholder {
    font-size: 1.3rem;
  }

  .Results__current-weather {
    min-width: 85%
  }
}